!TAGS/
!tags/
**/.idea/
.idea/
.eggs/
.hypothesis/
.idea_modules/
.media/
.mtj.tmp/
.mypy_cache/
.static_storage/
ENV/
__pycache__/
build/
cmake-build-debug/
develop-eggs/
dist/
docs/_build/
downloads/
eggsa
env.bak/
env/
htmlcov/
instance/
lib64/
out/
parts/
pythontex-files-*/
repos/
sdist/
sympy-plots-for-*.tex/
tags
target/
var/
venv.bak/
venv/
wheels/
