repos/
.idea/
!TAGS/
tags
!tags/
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggsa
.eggs/
repos/
lib/
lib64/
.idea/
repos/
parts/
sdist/
var/
wheels/
htmlcov/
.hypothesis/
.static_storage/
.media/
instance/
docs/_build/
target/
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
sympy-plots-for-*.tex/
pythontex-files-*/
.mtj.tmp/
**/.idea/
cmake-build-debug/
out/
.idea_modules/
