# core
numpy

# dev
pudb       # debugger
profiling  # profiler
jupyter    # interacitve console
isort      # consisten imports
pylint     # linter
pylama     # linter
yapf       # formatter
# vim:ft=conf:
